<!-- <button (click)="generateRoomCode()" [disabled]="clicked">Generate room code</button> -->

<form class="example-form" (ngSubmit)="newRoomEnter()" [formGroup]="roomEntered">
  <mat-form-field  appearance="fill">
    <mat-label >Another team</mat-label>
    <input matInput placeholder="Ex. 2324"  formControlName="newRoom">
  </mat-form-field>
  <p  *ngIf = "messageFlag">{{ message }}</p>
  <div class="buttons" >
  <!-- <a routerLink="/room"><button  color="accent"  class="actionBtn" > Back</button></a> -->
  <button color="accent"  mat-raised-button (click)="goBack()" class="buttonBAck">
    <span>Back</span>
  </button>
  <button color="accent"  mat-raised-button type="submit" class="buttonBAck">
    <span>Go</span>
  </button>
</div>
</form>
