<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-button  (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
    <h4>APP</h4>
    <!-- <mat-button><a routerLink="/signup" style="text-decoration: none;">Sign up</a></mat-button> -->
    <div class="d-flex justify-content-end"  *ngIf="!gets()">
      <button mat-button routerLink="/signup" class="signupButton"><mat-icon>signup</mat-icon>Sign up</button>
      <button mat-button routerLink="/login" class="loginButton"><mat-icon>login</mat-icon>Login</button>
    </div>

    <div class="d-flex justify-content-end"  *ngIf="gets()">
      <button mat-button (click)="logout()" class="signupButton"><mat-icon>logout</mat-icon>LogOut</button>
      <button mat-button  routerLink="/profile" class="signupButton"><mat-icon>profile</mat-icon>{{username}}</button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list *ngIf="gets()">
      <mat-list-item  (click)="gets()"><a routerLink="/home" style="text-decoration: none;">Home</a></mat-list-item>
      <mat-list-item  (click)="gets()"><a routerLink="/posts" style="text-decoration: none;">Posts</a></mat-list-item>
      <mat-list-item  (click)="addUsers(username)"><a routerLink="/chat" style="text-decoration: none;">Chat</a></mat-list-item>
      <!--  -->

    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet>

    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
