.container
{
  margin: 100px 10%;
}

mat-sidenav-container
{
  height: calc(205vh - 115vh);
}

mat-sidenav{
  width: 200px;
  background-color: #eee;
}

/* .signupButton{
  text-decoration: none;
  position: absolute;
  right: 100px;

}

.loginButton{
  text-decoration: none;
  position: absolute;
  margin-left: 120;
  right: 5px;

} */
