<mat-toolbar class="mat-primary">
  <mat-toolbar-row>

    <button mat-button  (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
    <h4><div class="nameD">TaskN<img [src]="path_logo" class = "logo" >W

    </div></h4>
    <!-- <div><img src="/images/clock.jpg" height="50" width="50" ></div> -->

    <!-- <mat-button><a routerLink="/signup" style="text-decoration: none;">Sign up</a></mat-button> -->
    <div class="d-flex justify-content-end"  *ngIf="!gets()">
      <button mat-button routerLink="/signup" class="signupButton"><mat-icon>signup</mat-icon>Sign up</button>
      <button mat-button routerLink="/login" class="loginButton"><mat-icon>login</mat-icon>Login</button>
    </div>

    <div class="d-flex justify-content-end"  *ngIf="gets()">
      <button mat-button (click)="logout()" class="logoutButton"><mat-icon>logout</mat-icon>LogOut</button>
      <button mat-button  routerLink="/profile" class="profileButton"><mat-icon>person</mat-icon>{{username}}</button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [(opened)]="opened" mode="side" style="transition: 0.4s all">
    <mat-list *ngIf="gets()">
      <mat-list-item  (click)="gets()" class="meniuButton"><a routerLink="/home" style="text-decoration: none;color: #000">Home</a></mat-list-item>
      <!-- <mat-list-item  (click)="gets()" class="meniuButton"><a routerLink="/posts" >Posts</a></mat-list-item> -->
      <mat-list-item  (click)="gets()" class="meniuButton"><a routerLink="/scheduler" style="text-decoration: none;color: #000">Scheduler</a></mat-list-item>
     <!-- <mat-list-item  (click)="addUsers(username)" class="meniuButton"><a routerLink="/chat" >Chat</a></mat-list-item> -->
      <mat-list-item  (click)="gets()" class="meniuButton"><a routerLink="/room" style="text-decoration: none;color: #000">Switch room</a></mat-list-item>
      <mat-list-item  *ngIf = "isAdmin()" class="meniuButton"><a routerLink="/pending" style="text-decoration: none;color: #000">Pending</a></mat-list-item>

    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet>

    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
