<!-- <mat-toolbar color="accent">
  <span>
    <a routerLink="/">
      <span>Social Posts</span>
    </a>
  </span>
  <span>
    <a routerLinkActive="active-link" routerLink="/posts">
      <span>Posts</span>
    </a>
  </span>
  <span>
    <a routerLinkActive="active-link" routerLink="/login">
      <span>Login</span>
    </a>
  </span>
  <span>
    <a routerLinkActive="active-link" routerLink="/signup">
      <span>Signup</span>
    </a>
  </span>
</mat-toolbar> -->
<div class="navigation">
  <div class="logo">
    <a href="/" class="simple-text logo-mini">
      <div class="logo-img">
        <img src="../assets/img/logo.jpg" />
      </div>
      </a>
      <a href="/" class="simple-text logo-normal">
        DWB
      </a>
  </div>

  <ul class="nav">
    <li class="active">
      <a routerLink="/"><i class="fa fa-home"></i>Home</a>
      <a routerLink="/signup"><i class="fa fa-home"></i>Home</a>
      <a routerLink="/login"><i class="fa fa-home"></i>Home</a>
    </li>

  </ul>
</div>
