

<div class="menu-chat">
  <mat-list *ngFor="let user of addUsersFlag">
    <!-- <mat-list-item>{{ user }}</mat-list-item> -->
    <button mat-list-item > {{ user }} </button>
    </mat-list>

</div>
      <!-- <div class="chat-messages">
        <div class="chat-messages-show-container">
          <ul class="chat-messages-show-list" id="message-list">
          </ul>
        </div>
        <div class="chat-messages-create-container">
          <input class="chat-messages-create-input" type="text" [(ngModel)]="message">
          <button  class="chat-messages-create-button" (click)="SendMessage()"> Send </button>
        </div>
      </div> -->




