<div class="buttons">
  <button color="accent"  mat-raised-button (click)="users()" class="buttonBAck">
    <span>Users</span>
  </button>
  <button color="accent"  mat-raised-button (click)="openDialog()" class="buttonBAck">
    <span>Requests</span>
  </button>
  <!-- <button mat-raised-button (click)="openDialog()" class="buttonBAck">Requests </button> -->

</div>
<div *ngIf = "requestsOn"  ><app-requests></app-requests></div>
<div *ngIf = "usersOn" class="userssss"><app-users></app-users></div>
