.list-rooms{

  position: fixed;
  left: 42%;
  height: 350px;
  text-align: center;
  top: 23%;
  width: 15%;

  padding: 10px;

}

.list-item{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color:#a4afab;

}


.buttons {
  width: 200px;
  margin: 0 auto;
  display: inline;}


.buttonBAck{
  display: inline;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color:#a4afab;
  margin: 16px;
}

.oldRoom{

  position: fixed;
  left: calc(50% - 130px);
  margin: auto;
  padding-top: 50px;
  width: 15%;

}

.another-team{
  padding-top: 20px;
}

.your-rooms
{
  position: fixed;
  top: 15%;
  left: 41%;
  text-align: center;
  font-size: 23px;

}

.newRoom{

  position: fixed;
  left: calc(50% - 130px);
  margin: auto;
  padding-top: 50px;
  width: 15%;

}

.wrong-team{
  position: relative;
  top: 8%;
  left: 10%;
  width: 200px;
  color: red;
}
