

<div class="list-rooms" *ngIf="!flagRooms">
  <p  class="your-rooms"> <br> <i>Choose your team!</i></p>
  <mat-list  *ngFor="let roomNo of listRooms">
    <!-- <mat-list-item>{{ user }}</mat-list-item> -->
    <button mat-list-item (click)="selectedRoom(roomNo)"  class="list-item" > {{ roomNo }} </button>
    </mat-list>

     <form class="another-team" (ngSubmit)="newRoomEnter()" [formGroup]="roomEntered">
      <mat-form-field  appearance="fill">
        <mat-label >Another team</mat-label>
        <input matInput placeholder="Ex. DevsTeam"  formControlName="newRoom">
      </mat-form-field>
      <div class="buttons" >

       <button color="accent"  mat-raised-button (click)="goBack()" class="buttonBAck">
        <span>Back</span>
      </button>
      <button color="accent"  mat-raised-button type="submit" class="buttonBAck">
        <span>Go</span>
      </button>
    </div>
    </form>

</div>
<div *ngIf="flagRooms" class="newRoom">
  <p class="your-rooms">No team. Enter one!</p>

  <form class="another-team" (ngSubmit)="newRoomEnter()" [formGroup]="roomEntered">
    <mat-form-field  appearance="fill">
      <mat-label >Team</mat-label>
      <input matInput placeholder="Ex. 2324"  formControlName="newRoom">
    </mat-form-field>
    <div class="buttons" >

      <button color="accent"  mat-raised-button (click)="goBack()" class="buttonBAck">
        <span>Back</span>
      </button>
      <button color="accent"  mat-raised-button type="submit" class="buttonBAck">
        <span>Go</span>
      </button>
    </div>
  </form>
  <div  *ngIf = "errFlag" class="wrong-team" >
    {{err}}
  </div>
</div>



<!-- <form [formGroup]="roomForm" (ngSubmit)="joinYourTeam()" novalidate>

  <mat-form-field>
    <mat-label id='code'>Join your team</mat-label>
    <input matInput placeholder="your team room code" formControlName="roomCode" id="code">
  </mat-form-field>

  <button color="accent" [disabled]="!roomForm.valid" mat-raised-button type="submit">
    <span>Join</span>
  </button>
  </form> -->
