mat-form-field {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
button {
  float: right;
  width: 200px;
}

.formLogin{
  margin-top: 30px;

  margin-left: calc(20% - 20px);
  margin-right: calc(20% - 20px);
}

.loginButton{
  margin-right: calc(40% - 4px);
  background-color:#a4afab;
  border-radius: 25px;
}
.loginButton:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.wrong-pass{
  position: relative;
  top: 8%;
  left: 47%;
  width: 20%;
  color: red;
}

.form-login-container{
  height: 240px;
}

