mat-form-field {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
button {
  float: right;
  width: 200px;
}

.formLogin{
  margin-top: 30px;
  margin-left: 300px;
  margin-right: 300px;
}

.formLogin button{
  margin-right: 360px;
}

