<div class="container">
  <div class="center">
<button  (click)="generateRoomCode()" [disabled]="clicked" class="roomBtn1">Create a room</button>

<button  (click)="joinYourTeam()" [disabled]="clicked" class="roomBtn2">Join your team</button>
</div>
</div>

  <!-- <div style="border: 5px solid; height: 30px; width: 130px">
  <mat-label id="code"></mat-label></div>


  <form [formGroup]="roomForm" (ngSubmit)="getRoom()" novalidate>

    <mat-form-field>
      <mat-label>Join your team</mat-label>
      <input matInput placeholder="your team room code" formControlName="roomCode">
    </mat-form-field>

    <button color="accent" [disabled]="!roomForm.valid" mat-raised-button type="submit">
      <span>Join</span>
    </button>
    </form> -->


<!-- <form [formGroup]="roomForm" (ngSubmit)="getRoom()" class="formLogin" novalidate>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="ex. stefania@gmail.com" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Stefania" formControlName="password">
  </mat-form-field>

    <button color="accent" [disabled]="!roomForm.valid" mat-raised-button type="submit">
      <span>Get room code</span>
    </button>


</form> -->
